/***    BEGIN:多项数据选择    ***/
.ibiz-mpickerup-view {
    .ibiz-pickup-view-bottom {
        margin-bottom: 0px !important;
    }
    .mpickup-view {
        margin-bottom: 0px !important;
    }
    ::ng-deep .ant-card-body {
        padding: 0;
    }
    nz-layout {
        background: white;
        nz-sider {
            background: white;
        }
    }
    .layout {
        margin-top: 4px;
    }
    .tree-exp-view {
        nz-content {
            padding-right: 12px;
        }
    }

    .buttons > button{
        margin-top:5px;
    }
    .mpicker-select {
        font-family: helvetica, sans-serif;
        font-size: 16px;
         font-variant: small-caps;
         text-align: justify; 
        word-spacing: -3.8pt;
        line-height: 1.6;
        font-weight: bold;
        word-spacing: 10px;
        height: 100%;
        overflow: auto;
    }
    .mpicker-select > div {
        padding: 3px 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: initial;
        cursor: pointer;
        min-height: 28px;
        border: 1px solid #e9e9e9;
        margin: 4px 4px;
        transition: all .3s;
    }
    .mpicker-select > div:hover {
        background: #ecf6fd;
    }
    .mpicker-select > .select{
        color: #108ee9;
        background: #ecf6fd;
    }
}
/***    END:多项数据选择     ***/

/***    BEGIN:视图底部内容     ***/
.ibiz-modal-view {
    .footer {
        .ivu-card-body {
            padding: 10px 0  0;
        }
    }
}

/***    END:视图底部内容    ***/

/***    BEGIN:搜索表单     ***/
.ibiz-search-form {
    .footer {
        .ivu-card-body {
            padding: 0px;
        }
    }
}
/***    END:搜索表单    ***/

/***    BEGIN:多项选择视图     ***/
.ibiz-mpickup-view {
    .pickupviewpanel {
        display: flex;
        justify-content: end;
        .translate-buttons {
            width: 80px;
            display: flex;
            align-items: center;
            text-align: center;
            button {
                margin-bottom: 5px;
            }
        }
        .left, .right {
            width: 300px;
        }
        .right {
            border: 1px solid #e9e9e9;
        }
        .center{
            width: 100%;
        }
    }
}
/***    END:多项选择视图    ***/
